@page
@model IndexModel

@{
    ViewData["Title"] = "Home Page | Connect .net to Prosgres SQL";
}

<h1>@ViewData["Title"]</h1>

@if (Model.SampleData.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Ctime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.SampleData)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.Description</td>
                    <td>@data.CTime</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data found.</p>
}
